<%= form_for(business) do |f| %>
  <% if @business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business.errors.count, "invalid value") %>.</h2>

      <ul>
      <% @business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :address %>
  <%= f.text_field :address, class: 'form-control' %>

  <%= f.label :city %>
  <%= f.text_field :city, class: 'form-control' %>

  <%= f.submit "#{business.new_record? ? 'Create' : 'Edit'} business", class: "btn btn-primary" %>
<% end %>