<%= form_for(item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "invalid value") %>.</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :price %>
  <%= f.text_field :price, class: 'form-control' %>

  <%= f.label :business_id %>
  <%= f.collection_select :business_id, @businesses, :id, :name, {}, {class: 'form-control'} %>
  <br>
  <%= f.submit "#{item.new_record? ? 'Create' : 'Edit'} Item", class: "btn btn-primary" %>
<% end %>