<% provide(:title, "Items") %>

<h1>Listing items</h1>

<table class="item-list">
  <tr>
    <th>Item name</th>
    <th>Price</th>
    <th>
      <%= link_to new_item_path do %>
        <button name="add">Add</button>
      <% end %>
    </th>
  </tr>

  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td>
        <%= link_to item_path(item) do %>
          <button name="delete">Show</button>
        <% end %>
        <%= link_to edit_item_path(item) do %>
          <button name="edit">Edit</button>
        <% end %>
        <%= link_to item, method: :delete, data: { confirm: "Are you sure?" } do %>
          <button name="delete">Delete</button>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
