<% provide(:title, "Items") %>

<h1>Listing items</h1>

<table class="table table-bordered item-list">
  <tr>
    <th>Item name</th>
    <th>Price</th>
    <th colspan="2"><%= link_to "Add Item", new_item_path, class: 'btn btn-success' %></th>
  </tr>

  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td>
        <%= link_to "Editar", edit_item_path(item), class: 'btn btn-info' %>
      </td>
      <td>
        <%= link_to "Delete", item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </td>
    </tr>
  <% end %>
</table>
